html, body {
    overflow: hidden;
    padding: 0;
    margin: 0;
}
.container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column-reverse;
    align-items: start;
}
.clean-btn {
    z-index: 1;
    font-family: sans-serif;
    font-size: 15px;
    color: white;
    text-shadow: 0 0 10px #000000;
    user-select: none;
    padding: 0 0 15px 25px;
    cursor: pointer;
    text-decoration: underline;
    opacity: .5;
}
canvas {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
}

.name {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    font-size: 4vw;
    text-shadow: 0 0 5px #000000;
    user-select: none;
    pointer-events: none;
}

.music-btn {
            position: fixed;
            top: 20px;     /* Posisi di atas */
            right: 20px;   /* Posisi di kanan */
            z-index: 100;
            background-color: rgba(255, 255, 255, 0.8);
            padding: 10px 20px;
            border-radius: 30px;
            font-family: sans-serif;
            cursor: pointer;
            font-size: 14px;
            box-shadow: 0 4px 15px rgba(0,0,0,0.1);
            transition: all 0.3s ease;
            user-select: none;
        }

        .music-btn:hover {
            background-color: white;
            transform: scale(1.05);
        }

@media all and (min-width: 640px) {
    .name {
        font-size: 45px
    }
}
