body {
    font-family: "Meow Script", cursive;
    text-align: center;
    background: no-repeat url(foto/pinkSoft.jpeg);
    background-size: cover;
    color: #ffffff;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

section {
    display: none;
    transition: opacity 0.5s ease;
}

section.pertanyaan {
    font-family: "Italianno", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: xx-large;
    line-height: 20px;
    display: block;
    opacity: 1;
    color: #ef1187;
}
h2 {
    font-weight: lighter;
}

h4 {
    margin-top: 30px;
}

.button1 button {
    margin: 10px;
    padding: 20px 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 15px;
    color: #ef1187; 
    border: #ffffff;
    border-radius: 30px;
    cursor: pointer;
    background: #ffffff;
    transition: 0.8s;
    box-shadow: 0px 0px 10px rgba(250, 10, 190, 0.393);
    
}

.button1 button:hover{
    background: linear-gradient(to right, #f087bf, #ef1187);
    color: #ffffff ;
    transform: scale(1.2);
    box-shadow: 0px 0px 10px rgba(250, 250, 250, 1);
}

img{
    height: 150px;
}

h1 {
    font-family: "Italianno", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 50px;
    line-height: 20px;
    display: block;
    opacity: 1;
    color: #ef1187;
}


